---
lab_user: "{{ lab_user }}"
student_id: "{{ student_id }}"
tower_password: "{{ tower_password }}"
tower_config: "{{ tower_config }}"
tower_inventory_config: true
tower_inventory_group_config: true
tower_openshift_install_group_config: true
tower_openshift_masters_group_config: true
tower_openshift_nodes_group_config: true
tower_inventory_sync: false
tower_project_provision_and_configure_config: false
tower_project_install_config: true
tower_job_template_self_configure_config: false
tower_job_template_deploy_provision_config: true
tower_job_template_deploy_install_config: true
tower_job_template_deploy_configure_config: true
tower_job_template_scaleup_provision_config: true
tower_job_template_scaleup_install_config: true
tower_job_template_scaleup_configure_config: true
tower_job_template_terminate_ocp_config: true
tower_job_template_terminate_all_config: true
tower_workflow_template_deploy_config: true
tower_workflow_template_scaleup_config: true
tower_workflow_template_terminate_config: true
domain_name: "{{ domain_name }}"
aws_subnet_id: "{{ aws_subnet_id }}"
aws_region: "{{ aws_region }}"
aws_az_1: "{{ aws_region }}a"
aws_sec_group: "{{ aws_sec_group }}"
aws_key_name: "{{ aws_key_name }}"
aws_vpc_name: "{{ aws_vpc_name }}"
aws_vpc_cidr_block: "{{ aws_vpc_cidr_block }}"
aws_subnet_cidr: "{{ aws_subnet_cidr }}"
aws_subnet_name: "{{ aws_subnet_name }}"
aws_route_table: "{{ aws_route_table }}"
ocp_ami_id: "{{ ocp_ami_id }}"
...
