---
student_id: "{{ student_id }}"
lab_user: "{{ lab_user }}"
aws_subnet_id: "{{ aws_subnet_id }}"
aws_region: "{{ aws_region }}"
aws_az_1: "{{ aws_az_1 }}"
aws_sec_group: "{{ aws_sec_group }}"
aws_key_name: "{{ aws_key_name }}"
aws_vpc_name: "{{ aws_vpc_name }}"
aws_vpc_cidr_block: "{{ aws_vpc_cidr_block }}"
aws_subnet_cidr: "{{ aws_subnet_cidr }}"
aws_subnet_name: "{{ aws_subnet_name }}"
aws_route_table: "{{ aws_route_table }}"
domain_name: "{{ domain_name }}"
ocp_ami_id: "{{ ocp_ami_id }}"
ocp_master_inst_type: "{{ ocp_master_inst_type }}"
ocp_node_inst_type: "{{ ocp_node_inst_type }}"
