---
deployment_type: openshift-enterprise
osm_use_cockpit: no
openshift_master_default_subdomain: apps-{{ student_id }}.{{ domain_name }}
openshift_master_identity_providers:
- name: htpasswd_auth
  login: True
  challenge: True
  kind: HTPasswdPasswordIdentityProvider
  filename: /etc/origin/master/htpasswd
openshift_master_htpasswd_users:
  user1: $apr1$7ctI4q/Q$84OX0FrpqM3hzlO9CUCh0.
openshift_master_image_policy_config:
  maxImagesBulkImportedPerRepository: 100
osm_default_node_selector: 'type=app'
openshift_hosted_metrics_deploy: yes
openshift_hosted_metrics_storage_kind: dynamic
os_sdn_network_plugin_name: redhat/openshift-ovs-multitenant
osn_storage_plugin_deps: []
openshift_schedulable: True
openshift_hosted_router_selector: 'type=infra'
openshift_hosted_registry_selector: 'type=infra'
openshift_metrics_selector: "type=infra"
openshift_cloudprovider_kind: aws
openshift_master_cluster_hostname: "{{ openshift_master_internal_dns_prefix }}-{{ student_id }}.{{ domain_name }}"
openshift_master_cluster_public_hostname: "{{ openshift_master_dns_prefix }}-{{ student_id }}.{{ domain_name }}"
{% raw %}
openshift_cloudprovider_aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
openshift_cloudprovider_aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
openshift_node_labels: "{{ ec2_tag_node_labels }}"
{% endraw %}
