#cloud-config
hostname: "{{ item.name }}"
fqdn: "{{ item.name }}-{{ student_id }}.{{ domain_name }}"
write_files:
- path: /etc/sudoers.d/99-ec2-user-requiretty
  permissions: '0440'
  content: |
    Defaults:ec2-user !requiretty
- path: /etc/sysconfig/docker-storage-setup
  owner: root:root
  permissions: '0644'
  content: |
    DEVS=/dev/sdb
    VG=docker_vg
mounts:
- [ sdb ]